.cls1
  fill: #272e71
.cls2
  fill: #e4b302
.logo_box
  width: 15%
  padding: 1rem
.header
  background-color: grey
.frame
  display: grid
  grid-template-columns: 1fr 5fr
  grid-gap: 0.5rem
.side_nav
  background-color: #F6F6F6
.layout
  height: 100vh
  display: grid
  grid-template-rows: 1fr 9fr;
  grid-gap: 0.5rem